<section class="main" *ngIf="!showParrots && !showMacaws">
  <div class="add-game-button-container">
    <button mat-raised-button (click)="openAddGameModal()">
      <span>Add Game</span>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  
  <button class="buttoncentral" mat-raised-button color="primary" (click)="toggleMacaws()">
    MACAWS
  </button>
  <button class="buttoncentral" mat-raised-button color="accent" (click)="toggleParrots()">
    PARROTS
  </button>
</section>

<div *ngIf="showParrots">
  <!-- Contenido del componente Parrots -->
  <app-parrots></app-parrots>
</div>

<div *ngIf="showMacaws">
  <!-- Contenido del componente Macaws -->
  <app-macaws></app-macaws>
</div>
