.main {
    display: colum;
    align-items: center;
    justify-content: flex;
    margin: 30px;
  }
  
  .top {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
  }
  
  mat-icon-button {
    color: #2979ff;
  }
  
  h1 {
    margin: 0;
  }
  
  .search-bar, .filter {
    margin-top: 20px;
  }
  
  .filter {
    width: auto; /* Si quieres que el filtro también sea automático */
  }
  
  .search-bar {
    max-width: 550px; /* Ancho máximo para el search bar */
    width: 45%; /* Esto hará que el search bar sea automático */
  }
  
  /* Mueve el elemento .contacts a la derecha */
  .contacts {
    margin-left: auto;
    margin-right: 10px;
  }
  
  .down {
    margin: 20px;
    margin-right: 150px; 
    margin-left: 50px;
    padding-top: 10px;
    width: calc(100% - 120px); /* Resta el margen derecho del ancho total */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0000005e;
  }
  
  thead {
    background-color: #f4f4f4;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  td[colspan="5"] {
    text-align: center;
  }
  
  /* Estilo para el mensaje cuando no hay datos */
  .nodata {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: grey;
  }
  
  .action-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  