.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -20px 30px 0 30px;
  position: relative;

  .top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 100px;
    justify-content: flex-start;

    .title {
      display: flex;
      align-items: center;

      .title-h1 {
        margin-top: 20px;
        font-size: 32px;
        color: #65447C;
        margin-top: 20px;
        margin-right: 10px;
      }

      .add-btn {
        width: 60px;
        height: 60px;
        padding: 0;

        .add-icon {
          width: 50px; /* Ajusta a tu tamaño deseado */
          height: 50px; /* Ajusta a tu tamaño deseado */
          margin-top: 4px;
          
        }
      }
    }

    .search-bar {
      width: 360px;
      margin-left: -60px;
      margin-top: 20px;
    }
    .filter {
      width: 260px;
      margin-top: 20px;
      margin-left: -60px;
      color: rgba(84, 95, 223, 1);
    }

    .trash-icon {
      background-color: transparent;
      border-color: transparent;
      margin-left: -100px;
    }

    .right-container {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: flex-end;
      h1 {
        margin-top: 60px;
        font-size: 48px;
      }
      .return-btn {
        font-size: 26px;
        background-color: transparent;
        border-color: transparent;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: -10px;
        color: rgba(245, 69, 61, 1);
      }
      .imgbtn {
        margin-bottom: -18px;
      }
    }
  }

  .down {
    margin: 20px;
    padding-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;

    .action-buttons-container {
      display: flex;
      width: 100%;
      justify-content: left;
      align-items: left;
      margin-left: -55px;
      gap: 5px;

      .action-button {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 4px;
        img,
        svg {
          width: 24px;
          height: auto;
        }
      }
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    .text-center {
      color: white;
    }
  }

}
