<div class="dashboard-modal">
  <div class="left-container">
    <div class="bar-graph">
      <img src="../assets/img/graficbar.png" alt="Bar Graph">
      <p>Time in App per</p>
      <mat-form-field appearance="fill">
        <mat-label>Choose a period</mat-label>
        <mat-select>
          <mat-option value="day">Day</mat-option>
          <mat-option value="month">Month</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="middle-container">
    <div class="pie-chart">
        <div class="time-above">
            <p>Last access date 13/12/2024</p>
        </div>
        <div class="chart-with-text">
            <img src="../assets/img/cake.png" alt="Pie Chart">
            <div class="time-right">
                <p>2h 24m <br>Time in App</p>
            </div>
        </div>
        <div class="time-below">
            <p>2h 24m <br>Time in App</p>
        </div>
    </div>
</div>
  <div class="right-container">
    <div class="stats-block">
      <!-- Grupo de estadísticas superior -->
      <div class="top-stats">
        <div><p class="stats-title">Units Completed</p></div>
        <div><p class="stats-value">3/10</p></div>
        <div><p class="stats-title">Games played</p></div>
        <div><p class="stats-value">3/52</p></div>
      </div>
  
      <!-- Grupo de estadísticas inferior -->
      <div class="bottom-stats">
        <div><p class="stats-title">Total coins win</p></div>
        <div><p class="stats-value">500</p></div>
        <div><p class="stats-title">Current Coins</p></div>
        <div><p class="stats-value">16</p></div>
      </div>
    </div>
  </div>
  
</div>

