<div class="students-modal">
  <div class="modal-header">
    <h1></h1>
    <h2>Students</h2>
    <button class="close-button">&times;</button>
  </div>
  <table class="students-table">
    <thead>
      <tr>
        <th
        style="border-radius: 10px 0 0 10px"  
        ><input type="checkbox"></th>
        <th>Name</th>
        <th
        style="border-radius: 0 10px 10px 0"
        >Lastname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <tr>
        <td><input type="checkbox" name="student" value="1"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <!-- Repite las filas según sea necesario -->
    </tbody>
  </table>
  <button class="add-existing" (click)="openAddedStudentModal() ">Add existing</button>
</div>