<div class="students-container">
  <div class="students-header">
    <h2>Students</h2>
    <button class="close-button" (click)="closeModal() " mat-icon-button mat-dialog-close>X</button>
  </div>
  <table class="students-table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Lastname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td>Javier A.</td>
        <td>Lastname</td>
      </tr>
      <!-- Repite las filas para cada estudiante -->
    </tbody>
  </table>
  <button class="add-button">Add</button>
</div>
