.title {
  font-size: 42px;
  color: #867396;
  margin-left: 100px;
  margin-top: 35px;
  margin-bottom: 25px;
  align-self: flex-start;
}

.main {
  display: flex;
  position: relative;
  width: 70%;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 60%;

    .top {
      display: flex;
      gap: 20px;
      width: 100%;
      margin-left: 55px;

      .account {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-account {
          margin-left: 10px;
          margin-right: 475px;
          margin-bottom: 0px;
          color: black;
        }
        .card-account {
          width: 545px;
          height: 400px;
          border-radius: 10px;
          display: flex;
          color: black;
          background-color: white;
          flex-direction: column;
          align-items: center;
          border: 2px solid #867396;

          .mail {
            margin-top: 30px;
            margin-left: 0px;
            margin-right: 420px;
            margin-bottom: 0px;
          }

          .custom-input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            .custom-input {
              width: 450px;
              height: 60px;
              padding: 0 12px;
              font-size: 16px;
              border: 2px solid #ced4da;
              border-radius: 4px;
              outline: none;
            }
            .custom-input:focus {
              border-color: rgba(84, 95, 223, 1);
            }
          }
          .pass {
            margin-top: 1px;
            margin-left: 0px;
            margin-right: 370px;
            margin-bottom: 0px;
          }
          .changebtn {
            margin-top: 25px;
            margin-bottom: 9px;
            background-color: #867396;
            width: 478px;
            color: white;
            border: 2px solid black;
            border-radius: 10px;
            height: 43px;
          }

          .deletebtn {
            margin-bottom: 9px;
            background-color: #DDDFF4;
            width: 478px;
            border: 2px solid black;
            border-radius: 10px;
            height: 43px;
          }
        }
      }
    }

    .subscription {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title-sub {
        margin-right: 460px;
        margin-bottom: 0px;
        color: black;
      }
      .sub-container {
        width: 545px;
        height: auto;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: black;
        border: 2px solid #f29446;
        background-color: white;
        .tipesub {
          border: 2px solid black;
          border-radius: 10px;
          width: 220px;
          margin-left: 35px;
          height: 222px;
          align-self: flex-start;
        }
        .img-container {
          align-self: flex-end;
          margin-top: -210px;
          margin-right: 60px;
          img {
            max-width: 171px;
            height: 171px;
            align-self: center;
            align-self: flex-end;
          }
        }
        .porcent {
          font-size: 22px;
        }
        .upgradebtn {
          margin-top: 8px;
          margin-bottom: 9px;
          background-color: rgba(242, 148, 70, 1);
          width: 478px;
          color: white;
          border: 2px solid black;
          border-radius: 10px;
          height: 43px;
        }

        .cancelbtn {
          margin-bottom: 17px;
          background-color: rgba(235, 207, 199, 1);
          width: 478px;
          border: 2px solid black;
          border-radius: 10px;
          height: 43px;
        }
      }
    }

    .down {
      flex-direction: column;
      align-items: center;
      width: 1175px;
      border-radius: 10px;
      height: 360px;
      color: black;
      margin-top: 23px;
      margin-left: 40px;
      margin-right: 54px;
      background-color: #86739640;

      .name {
        margin-top: 21px;
        margin-bottom: 1px;
        margin-left: 82px;
      }

      .info {
        margin-top: 1px;
        margin-left: 82px;
        margin-bottom: 1px;
      }

      .custom-input {
        width: 510px;
        height: 60px;
        margin-left: 82px;
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
      }

      .custom-input:focus {
        border-color: #545fdf;
      }

      .custom-input-container-end {
        margin-bottom: 47px;
      }
    }
  }

  .left {
    flex-grow: 1;
    max-width: 393px;
    height: 700px;
    margin-bottom: 88px;
    align-self: flex-end;
    order: 2;
    .square {
      width: 393px;
      height: 700px;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid black;
    }
  }
}
