<div class="main">

    <div class="content">
      <div class="top">
  
        <div class="account">
          <h1>Account</h1>
          <div class="card-account">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput>
            </mat-form-field>
            <button mat-button>Change password</button>
            <button mat-button>Delete Account</button>
          </div>
        </div>
  
        <div class="subscription">
          <!-- <h1>Subscription</h1>
          <div class="sub-container">
            <div class="img-container">
              <img src="../assets/img/suscr.png"
                class="suscr"
              />
              <img src="../assets/img/pastel.png"
                class="pastel"
              />
            </div>
            <button mat-button>Upgrade subscription</button>
            <button mat-button>Cancel subscription</button>
          </div> -->
  
        </div>
  
      </div>
  
      <div class="down">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Info</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Info</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
  
  
    <div class="left">
      <div class="square"></div>
    </div>
  </div>
  