.modal {
  width: 80%; /* O el ancho deseado */
  padding: 20px;
  position: relative; /* Para posicionar absolutamente el botón de cierre */
  border-radius: 5px; /* Para bordes redondeados */
  display: flex; /* Añadido para utilizar flexbox */
  justify-content: center; /* Alinea al centro */
  align-items: center; /* Centra verticalmente */
}

.modal-content {
  display: flex;
  justify-content: space-between;
  margin-right: -50px;
  width: 100%; /* Ocupa todo el ancho del modal */
}

.modal-instructions {
  width: 100%; /* Ajusta el ancho como prefieras */
  margin-right: 80px;
  margin-top: 20px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.modal-instructions p {
  margin: 0;
  font-size: 0.9em;
}

.student-list {
  width: 50%; /* Ajusta el ancho como prefieras */
  text-align: left; /* Alinea el texto a la izquierda */
}

.student-list p {
  margin: 5px 0;
  padding-right: -80px;
  line-height: 1.4;
}


// .close-button {
//   background: none;
//   border: none;
//   cursor: pointer;
//   font-size: 1.5em;
// }