<div class="main">

    <div class="top">
      <!-- <h1 class="add-class">Add Teacher </h1>
      <button mat-icon-button (click)="openModal()">
        <mat-icon>add</mat-icon>
      </button> -->
      <mat-form-field appearance="outline" class="search-bar">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search">
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label>Filter by</mat-label>
        <mat-select>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="down">
      <div class="classes">
        <h1>Class 01</h1>
        <img src="../assets/img/teach.png" width="100px">
        <div class="buttons">
          <button routerLink="../students">Progress</button>
          <button [matMenuTriggerFor]="settings">Config</button>
          <mat-menu #settings="matMenu" class="matConfig">
            <button mat-menu-item (click)="openEditModal(clase)">
            <mat-icon>edit</mat-icon>Edit</button>
            <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
          </mat-menu>
      </div>
    </div>
  </div>

  