.modal {
  width: 596px;
  height: 100%;
  border-radius: 8px;
  border: 2px solid black;
  border-radius: 2px;
  overflow: hidden;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #545FDF;

    .close-button {
      background: none;
      border: none;
      margin-bottom: 20px;
      color: white;
      font-size: 34px;
      cursor: pointer;
    }
  }

  .modal-tabs {
    display: flex;
    border-bottom: 1px solid black;

    .tab-button {
      flex: 1;
      padding: 16px;
      text-align: center;
      background: none;
      border: none;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease;

      &.active {
        border-bottom-color: #333FC8;
        color:black;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }

  .modal-body {
    padding: 16px;

    label {
      display: block;
      margin-bottom: 8px;
    }

    textarea {
      width: 98%;
      height: 250px;
      padding: 8px;
      border: 1px solid black;
      border-radius: 4px;
      resize: none;
      min-height: 150px;
    }
  }

  .modal-footer {
    padding: 16px;
    text-align: right;

    .add-button {
      padding: 10px 20px;
      background-color: #4BBF90;
      border: none;
      border-radius: 4px;
      border: 2px solid #000000;
      color:#000000;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(white, 10%);
      }
    }
  }
}
