
<div class="modal">
  <div class="modal-header">
    <h1></h1>
    <h2>Students</h2>
    <button class="close-button">&times;</button>
  </div>
  <div class="modal-tabs">
    <button class="tab-button active">Add new list of students</button>
  </div>
  <div class="modal-body">
    <label for="students-list">Copy a list of students</label>
    <textarea id="students-list" placeholder="Placeholder..."></textarea>
  </div>
  <div class="modal-footer">
    <button class="add-button" (click)="openAddedStudentModal() ">Add existing</button>
  </div>
</div>