.drawer-container {
  width: auto;
  height: 100vh;
  background-color: rgba(192, 195, 220, 0.2);
  overflow: hidden;
  .left-drawer {
    display: flex;
    width: 225px;
    height: 100vh;
    overflow: hidden;
    background-color: #867396;
    .left-container {
      width: auto;
      height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        .profile-icon {
          width: 120px;
          height: auto;
        }
        .profile-btn {
          height: 40px;
          color: white;
          font-size: 26px;
          margin-left: 61px;
          margin-right: 60px;
        }
      }
      .menu-container {
        .classes-btn,
        .students-btn,
        .content-btn {
          color: rgba(255, 255, 255, 0.700);
          font-size: 25px;
          width: 225px;
          height: 60px;
          margin-bottom: 10px;
          img {
            width: 25px;
            height: 29px;
            margin-bottom: -7px;
          }
        }
      }
      .menu-container{
        margin-bottom: 50px;
        .settings-btn {
          color: rgba(255, 255, 255, 0.700);
          font-size: 25px;
          width: 225px;
          height: 60px;
          img {
            width: 35px;
            height: 35px;
            margin-bottom: -7px;
          }
        }
      }
    }
  }
  .bar-top{
    background-color: white;
    color: #867396;
    background-image: url("../../../assets/img/solecitos.png");
    background-size: auto 80%;
    background-position: right bottom;
    background-repeat: no-repeat;
    .mat-toolbar-content-right {
      background-color: transparent;
      border-bottom: 2px solid #D6CBF5;
      margin-left: 10px;
      margin-right: 10px;
    }
    .bottom-right-image {
      width: 10px;
      height: 30px;
    }
  }
}


.mat-toolbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  width: auto;
  height: 120px;
  gap: 20px;
}


.updatebtn {
  display: flex;
  width: 353px;
  background-color: #f5453d !important;
  height: 100px;
  color: white !important;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  line-height: 1.2;
  font-size: 26px;
}

.howtobtn {
  font-weight: bold;
  font-size: 26px;
  color: black !important;
}

.contactbtn {
  font-weight: bold;
  font-size: 26px;
  color: black !important;
}

.dashboardbtn {
  font-weight: bold;
  font-size: 26px;
  color: black !important;
}

.logo-imagen {
  width: 280px;
  height: 58px;
  margin-right: 40 px;
}
