<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" opened="true" class="left-drawer">
    <div class="left-container">
      <div class="profile-container">
        <img src="../assets/img/log.png" alt="Perfil" class="profile-icon" />
        <button class="profile-btn" mat-button routerLink="/main/profile">
          Profile
        </button>
      </div>
      <div class="menu-container">
        <button class="classes-btn" mat-button  routerLink="content">
          <img src="../assets/img/Classes.svg" />
          Content
        </button>
        <button class="students-btn" mat-button routerLink="teachers">
          <img src="../assets/img/students.svg" />
          Teachers
        </button>
      </div>
      <div class="menu-container">
        <button class="settings-btn" mat-button>
          <img src="../assets/img/settings.svg" />
          Settings
        </button>
      </div>
    </div>
  </mat-drawer>
    
  <mat-drawer-content class="bar-top">
    <mat-toolbar color="primary" class="mat-toolbar-content-right">
      
      <img src="../assets/img/LOGOV2.png" alt="Logo" class="logo-imagen" />
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
      
</mat-drawer-container>
   