<div class="students-header">
  <div class="search-filter">
    <mat-form-field appearance="outline" class="search-bar">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search...">
    </mat-form-field>
    <mat-form-field class="filter-select">
      <mat-label>Filter by</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="students-count">
    0 Students
  </div>
  <div class="side">
    <button mat-button class="more-units" [matMenuTriggerFor]="menu">
      ✚ Students
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddExistingStudentModal()">
        Add Existing
      </button>
      <button mat-menu-item (click)="openAddNewStudentModal()">
        Add New Student
      </button>
    </mat-menu>
  </div>
  <div class="return">
    <button mat-button class="btnreturn" routerLink="/classes">
      <span class="button-text">Return <mat-icon>arrow_back</mat-icon></span>
    </button>
  </div>
</div>
  
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" /></th>
          <th>Name</th>
          <th>Date Added</th>
          <th>Last Connection</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Javier A.</td>
          <td>20/10/2022</td>
          <td>04/08/2023</td>
          <td class="action-buttons-container">
            <button mat-icon-button class="action-button">
              ✏️
            </button>
            <button mat-icon-button class="action-button">
              🗑️
            </button>
            <button mat-icon-button class="action-button">
              📊
            </button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Javier A.</td>
          <td>20/10/2022</td>
          <td>04/08/2023</td>
          <td class="action-buttons-container">
            <button mat-icon-button class="action-button">
              ✏️
            </button>
            <button mat-icon-button class="action-button">
              🗑️
            </button>
            <button mat-icon-button class="action-button">
              📊
            </button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>Javier A.</td>
          <td>20/10/2022</td>
          <td>04/08/2023</td>
          <td class="action-buttons-container">
            <button mat-icon-button class="action-button">
              ✏️
            </button>
            <button mat-icon-button class="action-button">
              🗑️
            </button>
            <button mat-icon-button class="action-button">
              📊
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  