<div class="modal">
  <!-- Contenido del modal -->
  <div class="modal-content">
    <div class="title">
      <h1>Add Content</h1>
      <h2>PARROTS</h2>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
      </div>
    <div class="units-container">
      <!-- Unidades -->
      <div class="unit-card">
        <img src="../assets/img/units.png" alt="Unit Image">
      </div>
      <div class="unit-card">
        <img src="../assets/img/units.png" alt="Unit Image">
      </div>
      <div class="unit-card">
        <img src="../assets/img/units.png" alt="Unit Image">
      </div>
      <div class="unit-card">
        <img src="../assets/img/units.png" alt="Unit Image">
      </div>
      <div class="unit-card">
        <img src="../assets/img/units.png" alt="Unit Image">
      </div>
      <!-- Repite las tarjetas de unidad según sea necesario -->
    </div>
  </div>
</div>
