<mat-dialog-content class="edit-class-modal-content">
  <div class="modal-header">
    <h2>Add Class</h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form class="modal-form">
    <div class="form-row">
      <mat-form-field class="class-name">
        <mat-label>Add Class Name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
      <mat-form-field class="name">
        <mat-label>Add Name</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
    <mat-form-field class="description">
      <mat-label>Add Short Description</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveChanges()">Save Changes</button>

  </form>
</mat-dialog-content>
